[
  {
    "displayName": "satisfactory-container",
    "imageUrl": "ghcr.io/miyaji255/satisfactory-oci-server:latest",
    "environmentVariables": {
      "TS_AUTH_KEY": "YOUR_TAILSCALE_AUTH_KEY",
      "TS_HOSTNAME": "satisfactory",
      "SATISFACTORY_BOT_DISCORD_TOKEN": "YOUR_DISCORD_BOT_TOKEN",
      "MAXPLAYERS": 4
    }
  }
]
